<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Commit Details</title>
</head>
<body>
    <h1>Commit Details</h1>
    <table>
        <thead>
        <tr>
            <th>Hash</th>
            <th>Timestamp</th>
            <th>Message</th>
            <th>Author</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="commit : ${commits}">
            <td th:text="${commit.commitHash}">Commit Hash</td>
            <td th:text="${commit.commitDate}">Date</td>
            <td th:text="${commit.commitMessage}">Message</td>
            <td th:text="${commit.authorName}">Author</td>
        </tr>
        </tbody>
    </table>
</body>
</html>