<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Developers</title>
</head>
<body>
<h1>Developers</h1>
<table>
    <thead>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Commits</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="developer : ${developers}">
        <td th:text="${developer.userName}">Username</td>
        <td th:text="${developer.email}">Email</td>
        <td>
            <ul>
                <li th:each="commit : ${developer.commitList}">
                    <a th:href="@{/commits/{hash}(hash=${commit.commitHash})}" th:text="${commit.commitHash}">Commit Hash</a>
                </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
